name: Deploy Mometrics to Production

on:
  push:
    branches:
      - main

permissions:
  contents: read

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up SSH
        uses: webfactory/ssh-agent@v0.8.0
        with:
          ssh-private-key: ${{ secrets.SSH_PRIVATE_KEY }}

      - name: Deploy via SSH
        run: |
          ssh -o StrictHostKeyChecking=no ${{ secrets.SSH_USER }}@${{ secrets.SSH_HOST }} << 'EOF'
            
            cd ~/mometrics-deploy
            
            git pull
            
            docker compose up --build --force-recreate --detach
            
            docker compose exec backend alembic upgrade head
            
            docker compose restart celery_worker celery_beat
            
            echo "Deployment finished successfully!"
          EOF